@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf');
} 

*{
    font-family: 'Roboto', Arial;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(to right, rgb(83,105,118), rgb(41,46,73));
}

.calculator{
    height: 320px;
    width: 235px;
    border-radius:  5px;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 80px 48px 48px 48px 48px 48px;
}